<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="flex-container">
      <% include ../partials/navbar.ejs %>
      <main class="content">
        <h1>New Secondary Topic</h1>
        <form action='/primaryTopics/<%= primaryTopicId %>/secondaryTopics/create' method='post'>
          <div class="form-group">
            <label for="title">Secondary Topic Title</label>
            <input class="form-control" type="text" name="title" placeholder="enter secondary topic title">
          </div>
          <div class="form-group">
            <label for="content">Secondary Topic Content</label>
            <textarea class="form-control" rows="4" name="content" placeholder="enter secondary topic content"></textarea>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </main>

      <% include ../partials/baseScripts.ejs %>

    </div>
  </body>
</html>
