<!DOCTYPE html>
<html>
  <head>
    <!-- <% include ../static/partials/head.ejs %> -->
  </head>
  <body>
    <main class="container">
      <!-- <% include ../static/partials/sidebar.ejs %> -->

      <h1>Notary Node Candidates</h1>

      <h2>MESHbits</h2>
    </main>
  </body>
</html>
