  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="image">
      <img src="img/komodo-logo-horizontal-03.png">
    </div>

    <ul class="list-unstyled components">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><!-- Link with dropdown items -->
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Quick Summary</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a href="#">Broken down light paper</a></li>
          <li><a href="#">Less than five pages total</a></li>
          <li><a href="#">Minor illustrations on each page</a></li>
        </ul>
      </li>
      <li><a href="#">Understanding Blockchain</a></li>
      <li><a href="#">Komodo Overview</a></li>
      <li><a href="#">Using Komodo</a></li>
      <li><a href="#">How Komodo Works</a></li>
      <li><a href="#">Advanced Information</a></li>
      <li><a href="#">Komodo Metrics</a></li>
      <li><a href="#">Appendix</a></li>
    </ul>
  </nav>
