<main class="content">
  <div class="site-title">
    <h1><a href="/primaryTopics">Primary Topics</a></h1>
    <h2>Educational Material for Komodo Users</h2>
  </div>
  <div class="site-content">
    <p>Content goes here</p>
    <%= title %>
  </div>
</main>
