<main class="content">
  <div class="site-title content-flex-container">
    <h1><a href="/primaryTopics">Primary Topics</a></h1>
  </div>
  <div class="site-title content-flex-container unique-row">
      <h2>Educational Material for Komodo Users</h2>
  </div>
  <div class="site-content content-flex-container">
    <ul class="topic-list">
    <% primaryTopics.forEach((primaryTopic) => { %>
      <li>
        <a href="/primaryTopics/<%= primaryTopic.id %>"> <%= primaryTopic.title %> </a>
      </li>
      <li>
        <%= primaryTopic.content %>
      </li>
    <% }); %>
    </ul>
    <form action="/primaryTopics/new" method="get">
      <button type="submit" class="btn">New</button>
    </form>
  </div>
</main>
