<main class="content">
  <div class="site-title">
    <h1><a href="/primaryTopics">Primary Topics</a></h1>
    <h2>Educational Material for Komodo Users</h2>
  </div>
  <div class="site-content">
    <p>Content goes here</p>
    <%= title %>
    <% primaryTopics.forEach((primaryTopic) => { %>
      <li class="sidebar-main-link">
        <ul>
          <li>
            <a href="/primaryTopics/<%= primaryTopic.id %>"> <%= primaryTopic.title %> </a>
          </li>
          <li>
            <p><%= primaryTopic.content %></p>
          </li>
        </ul>
      </li>
    <% }); %>
  </div>
</main>
