<main class="content">
  <div class="site-title">
    <h1>Komodo Resources</h1>
    <h2>Educational Material for Komodo Users</h2>
  </div>
  <div class="site-content">
    <p>Content will go here.</p>
  </div>
</main>
