<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="./css/cssreset.css" rel="stylesheet">
<link href="./fonts/roboto/roboto-font-face.css" rel="stylesheet">
<link href="./css/application.css" rel="stylesheet">
<title><%= title %></title>
