<% topicTree.forEach((primaryTopicNav) => { %>
  <li class="sidebar-main-link">
    <a href="/primaryTopics/<%= primaryTopicNav.primaryTopicId %>"> <%= primaryTopicNav.title %> </a>
  </li>
<% }); %>
