<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>New Primary Topic</title>
  </head>
  <body>
    <div class="flex-container">
      <% include ../partials/navbar.ejs %>
      <main class="content">
        <h1>New Primary Topic</h1>

        <form action="/primaryTopics/create" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" autofocus="true" class="form-control" name="title" placeholder="enter new title" required>
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <input type="text" autofocus="false" class="form-control" name="content" placeholder="enter new content" required>
          </div>
          <button type="submit" class="button">Submit</button>
        </form>
      </main>
    </div>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>
