<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Needs to be fixed so title is dynamic by content -->
    <title>Komodo Resources</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <main class="main">
      <div class="container-fluid>
        <div class="row">
          <div class="col-sm-2">
            <% include ./partials/navbar.ejs %>
          </div>
          <div id="content" class="col-sm-10">
            <header class="jumbotron">
              <h1 class="container-fluid display-3">Komodo Resources</h1>
            </header>
            <% include ./partials/bottom.ejs %>
          </div>
        </div>
      </div>
    </main>

    <% include ./partials/scripts.ejs %>

  </body>
</html>
