<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <title>Komodo Resources</title>
  </head>
  <body>
    <div class="flex-container">
      <% include ../partials/navbar.ejs %>
      <% include ../partials/contentDisplay.ejs %>
    </div>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>
