<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>Temp</title>
  </head>
  <body>
    <div class="flex-container">
      <main class="content">
        <h1>New Third Topic</h1>
        <p>(Delete later)</p>
      </main>

      <% include ../partials/baseScripts.ejs %>

    </div>
  </body>
</html>
