<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>Temp</title>
  </head>
  <body>
    <div class="flex-container">
      <main class="content">
        <h1>New Third Topic</h1>
        <form action='/primaryTopics/<%= primaryTopicId %>/secondaryTopics/<%= secondaryTopicId %>/thirdTopics/create' method='post'>
          <div class="form-group">
            <label for="title">Third Topic Title</label>
            <input class="form-control" type="text" name="title" placeholder="enter third topic title">
          </div>
          <div class="form-group">
            <label for="content">Third Topic Content</label>
            <textarea class="form-control" rows="4" name="content" placeholder="enter third topic content"></textarea>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </main>

      <% include ../partials/baseScripts.ejs %>

    </div>
  </body>
</html>
