<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title>Edit <%= fourthTopic.title %>: Komodo Resources</title>
  </head>
  <body>
    <div class="flex-container">
      <main class="content">
        <h1>Edit Fourth Topic</h1>
      </main>
    </div>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>
